.allResults {
  color: black;
}

.innerAllResults {
  width: 40%;
  max-width: 660px;
  min-width: 560px;
  margin: 0 auto 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultsTitle {
  font-weight: 500;
  width: 96%;
  margin: 2rem 0 2rem;
}

.resultsTitle span {
  font-weight: 800;
}

.ARmovie {
  font-size: 15px;
  width: 96%;
  display: flex;
  border-top: solid 1px rgba(92, 92, 92, 0.493);
  padding: 0.8rem 0;
  color: var(--overview-text-color);
}

.image {
  width: 6rem;
  height: 9rem;
  vertical-align: top;
}

.movieInfo {
  margin: 0 0.8rem 0 0.8rem;
  width: 100%;
}

.titleYear {
  display: flex;
  margin: 1em 0 0 0;
}

.title {
  max-width: 100%;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 0;
}

.titleLink {
  margin-right: 0.3em;
  color: var(--text-color-pink);
}

.year {
  color: rgb(83, 83, 83);
  margin: 0;
}

.overview {
  margin: 0.5em 0 0 0;
  font-size: 0.875em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.ARimageUnavailable {
  height: 9rem;
  background-color: #cecece;
  display: flex;
  align-items: center;
}

.filmIcon {
  width: 6rem;
  font-size: 2.2rem;
}

@media screen and (max-width: 1480px) {
  .ARmovie {
    font-size: 14px;
  }
}