body {
  /* border: solid; */
  padding: 0;
  margin: 0;
  font-family: Roboto;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  /* color: white; */
}

.pageNavigator {
  /* border: white solid 2px; */
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 50px;
}

.pageNavNextPrev,
.pageNavBtn,
.pageNavEllipsis {
  font-size: 1rem;
  border-radius: 5px;
}

.pageNavNextPrev,
.pageNavBtn {
  background-color: white;
}

.pageNavNextPrev:hover,
.pageNavBtn:hover {
  cursor: pointer;
}

.pageNavNextPrev {
  margin: 0 6px;
}

.pageNavNextPrev:disabled,
.pageNavNextPrev[disabled]{
  margin: 0 12px;
  background-color: white;
  color: rgba(0, 0, 0, 0.63);
  cursor: text;
}

.pageNavBtn {
  padding: 4px 8px;
  margin-right: 3px;
}

#currPageNumber {
  background-color: pink;
}

#currPageNumber:hover {
  cursor: text;
}

.pageNavEllipsis {
  padding-top: 6px;
  margin-right: 3px;
}
