body {
  /* border: solid; */
  padding: 0;
  margin: 0;
  font-family: Roboto;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  /* color: white; */
}

.pageNavigator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.pageNavigator * {
  font-size: 0.9rem;
  background-color: transparent;
}

.pageNavNextPrev {
  border: solid 1px;
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
  cursor: pointer;
  min-width: 5.25rem;
}

.pageNavNextPrev:hover {
  border-color: black;
  color: rgb(255, 136, 156);
}

.pageNavNextPrev:disabled,
.pageNavNextPrev[disabled]{
  /* background-color: white; */
  color: rgba(0, 0, 0, 0.63);
  border-color: black;
  cursor: text;
}

.pageNumBtns {
  margin: auto 1rem; 
}

.pageNavBtn {
  border: none;
  cursor: pointer;
  margin-right: 0.2rem;
  padding: 0.1rem 0.3rem;
}

.pageNavBtn:hover {
  color: rgb(255, 136, 156);
}

.pageNavBtn:last-child {
  margin: 0;
}

#currPageNumber {
  border: solid 1px;
  border-radius: 8px;
}

#currPageNumber:hover {
  cursor: text;
  color: black;
}

.pageNavEllipsis {
  padding-top: 0.15rem;
  margin-right: 0.2rem;
}

.loadingDots {
  width: 5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.loadingDots div {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  animation: fade 0.8s ease-in-out alternate infinite;
}

.loadingDots div:nth-of-type(1) {
  animation-delay: -0.4s;
}

.loadingDots div:nth-of-type(2) {
  animation-delay: -0.2s;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}