.outerMain {
  /* border: solid yellow 1px; */
  /* width: 1200px; */
  margin-top: 3.75rem;
  --main-width: 1210px;
  --main-image-height: 225px;
  --main-image-width: 150px;
  --main-pink: rgb(255, 136, 156);
}

.innerMain {
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(27, 27, 27); */
  /* border: coral solid 1px;  */
  width: var(--main-width); 
  border-radius: 8px;
  /******** Props for testing ********/
  /* box-sizing: border-box;
  border: coral solid 1px;  */
}

.mainMovieRow {
  display: flex;
  justify-content: space-between;
  /* border: solid purple 1px; */
  box-sizing: border-box;
  width: var(--main-width);
  margin-bottom: 0.625rem;
  /* border-radius: 15px; */
  /******** Props for testing ********/
  /* box-sizing: border-box; */
  /* border: coral solid 1px;  */
}

.mainMovie {
  display: flex;
  /* justify-content: space-between; */
  /* padding: 10px 0; */
  box-sizing: border-box;
  /* margin-right: 10%; */
  /* width: 596px; */
  width: 49.75%;
  /* width: %; */
  color: black;
  background-color: black;
  /* margin-bottom: 15px; */
  height: var(--main-image-height);
  /* border-radius: 8px; */
  /******** Props for testing ********/
  /* box-sizing: border-box; */
  /* border: coral solid 1px;  */
}

.mainMovieInfo {
  width: 100%;
  /* border:yellow solid 2px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 225px; */
  position: relative;
  background-color: white;
  border-radius: 0 8px 8px 0;
  /******** Props for testing ********/
  /* box-sizing: border-box;
  border: solid black 1px;  */
}

.mainMovieInfo p {
  /* border:black solid 1px; */
  /* width: 410px; */
  width: 92%;
  /******** Props for testing ********/
  /* box-sizing: border-box;
  border: solid black 1px;  */
}

.mainImage {
  border-radius: 8px 0 0 8px;
  height: var(--main-image-height);
  width: var(--main-image-width);
}

.mainMovieTitle {
  margin: 0.75rem 0 0;
  font-size: 1.3rem;
  /* border:solid black 1px; */
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  /* color: rgb(255, 136, 156); */
}

.mainTitleLink {
  color: var(--main-pink);
}

.allGeneralMovieInfo {
  color: rgb(80, 80, 80);
  margin: 0.25rem 0 0;
  font-size: 0.8rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.genInfo {
  /* border: black solid 1px; */
  margin-right: 0.3125rem;
}

.mainMovieRating {
  margin: 0.625rem 0 0;
  /* margin-left: 10px;
  margin-right: 5px; */
  /* border: solid salmon 1px; */
  /* font-size: 1.0rem; */
  display: inline-flex;
  /* display: none; */
  align-items: center;
}

.starRating {
  margin-right: 0.1875rem;
  color: var(--main-pink);
}

.mainOverview {
  margin: 0.75rem 0 0;
  font-size: 0.9rem;
  /* height: 110px; */
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  /* border: solid black 1px; */
}

.fullDetails {
  /* color: var(--main-pink); */
  margin: 0;
  font-size: 0.9rem;
  /* border: solid black 1px; */
  text-align: right;
  position: absolute;
  bottom: 0.5rem;
}

.fullDetailsLink {
  color: var(--main-pink);
}

.loadingMainMovieRow {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: var(--main-width);
  margin-bottom: 5rem;
}

.loadingMainMovieBox {
  height: var(--main-image-height);
  width: 49.75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
}

.mainImageUnavailable {
  color: black;
  background-color: rgb(110, 110, 110);
  width: var(--main-image-width);
  height: var(--main-image-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 0 0 8px;
  /****Props for testing ****/
  /* box-sizing: border-box;
  border: yellow 1px solid; */
}

.mainImageUnavailable p {
  /* border:solid white 1px; */
  text-align: center;
  width: var(--main-image-width);
  /****Props for testing ****/
  /* box-sizing: border-box;
  border: white 1px solid; */
}

@media screen and (max-width: 1400px) {
  .outerMain {
    --main-width: 1060px;
    --main-image-height: 205px;
    --main-image-width: 136.66px;
  }
}

@media screen and (max-width: 1138px) {
  .outerMain {
    --main-width: 920px;
    --main-image-height: 185px;
    --main-image-width: 123.33px;
  }
  .mainOverview {
    -webkit-line-clamp: 4;
  }
}