.movieInfo {
  background-color: white;
}

.genInfoAndMedia {
  background-color: rgb(7, 7, 7);
  /* border: solid purple 3px; */
  overflow: auto;
}

.infoAndMediaContent {
  width: 60%;
  max-width: 926px;
  min-width: 620px;
  margin: 0 auto 3.5rem;
  /* border: solid white 1px; */
}

.movieHeader {
  display: flex;
  /* border: solid 1px white; */
  margin-top: 3.5rem;
}

.titleAndInfo {
  /* border: solid 1px white; */
  width: 88%;
}

.title {
  /*border: solid 1px white;*/
  font-size: 2.5rem;
  margin: 0 0 0.3rem;
}

.genInfo {
  /* border: solid 1px white; */
  font-size: 0.95rem;
  color: rgb(200, 200, 200);
  margin: 0 0 1rem;
  display: flex;
  align-items: center;
}

.genreDivider {
  margin: 0;
}

.bullet {
  font-size: 0.2rem;
  margin: 0 0.5rem;
}

.movieRating {
  /* border: solid 1px white; */
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 12%;
  min-width: 73.8px;
  color: rgb(200, 200, 200);
  margin-left: 1rem;
}

.ratingTitle {
  /*border: solid 1px white;*/
  margin: 0;
  font-size: 1rem
}

.userRating {
  /*border: solid 1px white;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.starIcon {
  font-size: 1.5rem;
  color: pink;
  margin: 0.3rem;
}

.ratingAndCount p {
  font-size: 0.9rem;
  margin: 0;
}

.ratingAndCount p:last-child {
  font-size: 0.80rem;
}

.ratingAndCount p span{
  font-weight: 600;
  font-size: 1rem;
  color: white;
}

.movieMedia {
  /* border: solid 1px yellow; */
  display: flex;
}

.movieMedia img{
  width: 30%;
}

.unavailableImage {
  height: 20.5vw;
  max-height: 415.78px;
  min-height: 260px;
  display: flex;
  background-color: rgb(54, 54, 54);
}

.filmIcon {
  font-size: 3.5rem;
  width: 13.6vw;
  max-width: 277px;
  min-width: 172.8px;
  margin: auto 0;
}

.mediaLoading {
  background-color: white;
  width: 10%;
}

iframe {
  margin-left: 0.5rem;
  width: 70%;
  border: none;
}

.crewAndSummary {
  /* border: solid 1px yellow; */
  margin-top: 1rem;
}

.crewAndSummaryNoVideo {
  margin-left: 1.5rem;
  width: 100%;
}

.crewAndSummary p,
.crewAndSummaryNoVideo p {
  /* border: solid 1px yellow; */
  border-bottom: solid rgba(139, 139, 139, 0.541) 1px;
  margin: 0;
  padding: 0.9rem 0;
  width: 100%;
}

.crewAndSummary p:not(:first-child),
.crewAndSummaryNoVideo p:not(:first-child) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.crewAndSummary p:last-child,
.crewAndSummaryNoVideo p:last-child {
  /* border: solid 1px yellow; */
  border: none;
}

.crewAndSummary p span,
.crewAndSummaryNoVideo p span {
  /* border: solid 1px yellow; */
  color: rgb(255, 215, 215);
  white-space: nowrap;
}

.crewAndSummary p span:first-child,
.crewAndSummaryNoVideo p span:first-child {
  /* border: solid 1px yellow; */
  margin-right: 1.2rem;
  font-weight: 800;
  color: white;
}

.castAndReviews {
  color: black;
}
