.movieInfo {
  background-color: white;
}

.genInfoAndMedia {
  background-color: rgb(7, 7, 7);
  /* border: solid purple 3px; */
  overflow: auto;
}

.infoAndMediaContent {
  width: 60%;
  max-width: 926px;
  min-width: 620px;
  margin: 0 auto 3.5rem;
  /* border: solid white 1px; */
}

.movieHeader {
  display: flex;
  /* border: solid 1px white; */
  margin-top: 3.5rem;
}

.titleAndInfo {
  /* border: solid 1px white; */
  width: 100%;
}

.title {
  /*border: solid 1px white;*/
  font-size: 2.5rem;
  margin: 0 0 0.3rem;
}

.genInfo {
  /* border: solid 1px white; */
  font-size: 0.95rem;
  color: rgb(200, 200, 200);
  margin: 0 0 1rem;
  display: flex;
  align-items: center;
}

.genreDivider {
  margin: 0;
}

.bullet {
  font-size: 0.2rem;
  margin: 0 0.5rem;
}

.movieRating {
  /* border: solid 1px yellow; */
  display: flex;
  justify-content: end;
  color: rgb(200, 200, 200);
  margin-left: 1rem;
  padding-top: 0.6rem;
}

.rating:first-child {
  /* border: solid 1px white; */
  margin-right: 1.3rem;
}

.ratingTitle {
  /*border: solid 1px white;*/
  font-weight: 700;
  margin: 0;
  font-size: 0.90625rem;
  white-space: nowrap;
  letter-spacing: 0.03rem;
}

.userRating,
.yourRating,
.ratingQuery {
  /*border: solid 1px white;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.starIcon {
  font-size: 1.5rem;
  color: pink;
  margin-right: 0.3rem;
}

.ratingAndCount p {
  margin: 0;
}

.ratingAndCount p:last-child {
  font-size: 0.875rem;
}

.ratingAndCount p span,
#dbRating span {
  font-weight: 600;
  font-size: 1.125rem;
  color: white;
}

.yourRating,
.ratingQuery {
  /* border: solid 1px white; */
  padding: 0.4rem;
  border-radius: 3px;
}

.yourRating:hover {
  background-color: rgba(49, 49, 49, 0.507);
  cursor: pointer;
}

.yourRating p,
.ratingQuery p {
  margin: 0;
  font-size: 1.125rem;
  color: rgb(90, 159, 248);
}

#dbRating {
  color: rgb(200, 200, 200);
  font-size: 1rem;
}

.rateIcon {
  font-size: 1.5rem;
  color: rgb(90, 159, 248);
  /* margin: 0.3rem; */
  margin-right: 0.3rem;
}

.queryAnimation {
  border: 3px solid rgba(107, 107, 107, 0.5);;
  border-top-color: rgb(200, 200, 200);
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  animation: spin 1s linear infinite;
  margin-right: 0.3rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.movieMedia {
  /* border: solid 1px yellow; */
  display: flex;
}

.movieMedia img{
  width: 30%;
}

.unavailableImage {
  height: 20.5vw;
  max-height: 415.78px;
  min-height: 260px;
  display: flex;
  background-color: rgb(54, 54, 54);
}

.filmIcon {
  font-size: 3.5rem;
  width: 13.6vw;
  max-width: 277px;
  min-width: 172.8px;
  margin: auto 0;
}

.mediaLoading {
  background-color: white;
  width: 10%;
}

iframe {
  margin-left: 0.5rem;
  width: 70%;
  border: none;
}

.crewAndSummary {
  /* border: solid 1px yellow; */
  margin-top: 1rem;
}

.crewAndSummaryNoVideo {
  margin-left: 1.5rem;
  width: 100%;
}

.crewAndSummary p,
.crewAndSummaryNoVideo p {
  /* border: solid 1px yellow; */
  border-bottom: solid rgba(139, 139, 139, 0.541) 1px;
  margin: 0;
  padding: 0.9rem 0;
  width: 100%;
}

.crewAndSummary p:not(:first-child),
.crewAndSummaryNoVideo p:not(:first-child) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.crewAndSummary p:last-child,
.crewAndSummaryNoVideo p:last-child {
  /* border: solid 1px yellow; */
  border: none;
}

.crewAndSummary p span,
.crewAndSummaryNoVideo p span {
  /* border: solid 1px yellow; */
  color: rgb(255, 215, 215);
  white-space: nowrap;
}

.crewAndSummary p span:first-child,
.crewAndSummaryNoVideo p span:first-child {
  /* border: solid 1px yellow; */
  margin-right: 1.2rem;
  font-weight: 800;
  color: white;
}

.castAndReviews {
  color: black;
  width: 60%;
  max-width: 926px;
  min-width: 620px;
  /* border: solid black 1px; */
  margin: 0 auto;
}

.castAndReviews h2 {
  border-left: solid var(--text-color-lightPink) 0.25rem;
  font-size: 2rem;
  margin: 5rem 0 1.5rem;
}

.castList {
  /* border: solid purple 3px; */
  display: flex;
  flex-wrap: wrap;
}

.star {
  box-sizing: border-box;
  border: solid rgba(109, 109, 109, 0.13) 1px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  width: 49.75%;
  display: flex;
  margin:  0.15rem 0;
}

.star:nth-child(odd) {
  margin-right: .5%;
}

.star img {
  width: 8.263vw;
  max-width: 138px;
  min-width: 92px;
  border-radius: 5px 0 0 5px;
}

.starImgUnavailable {
  background-color: rgb(144, 144, 144);
  /* border: solid black 1px; */
  border-radius: 5px 0 0 5px;
  height: 12.416vw;
  max-height: 207.22px;
  min-height: 138.23px;
  display: flex;
  align-items: center;
}

.personIcon {
  width: 8.263vw;
  max-width: 138px;
  min-width: 92px;
  font-size: 3.5rem;
  color: rgb(73, 73, 73)
}

.starInfo {
  /* border: solid black 1px; */
  width: 58%;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.starInfo p {
  margin: 0;
  color: rgb(95, 95, 95);
}

.starInfo p:first-child{
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: black;
}