.navbar {
  /* border: solid coral 5px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: black;
  width: 100%;
}

/* * {
  border: solid pink;
} */

.navlink {
  text-decoration: none;
}

.navMooViews {
  display: flex;
  font-size: 1.8rem; 
  font-weight: 900;
}


.views {
  color: lightpink;
}

.views,
.moo {
  margin: 0;
}

.searchBar {
  margin: .7% 0;
  border-radius: 5px;
  width: 30%;
  background-color: black;
}

.searchInput {
  padding-left: 2%;
  outline: none;
  height: 2rem;
  width: 100%;
  border: solid lightpink 2px;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 5px;
  /* margin: 10px; */
}

.searchInput:focus {
  border-color: lightpink;
}

.searchResult {
  width: 30%;
  box-sizing: border-box;
  border: solid black;
  border-radius: 5px;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.searchResult p {
  /* border: solid white; */
}

.result {
  margin: 5% 0;
}

.result p {
  /* border: solid white; */
  padding-left: 2%;
  margin: 0;
}

.date {
  /* border: solid white; */
  font-size: 0.85rem;
  /* padding-left: 2%; */
  /* margin: 30px; */
  margin-top: 40px;
}
