.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  width: 100%;
}

.navbar a {
  color: white;
}


.navlink {
  text-decoration: none;
  margin-right: 3%;
}

.end {
  text-decoration: none;
}

.navMooViews {
  display: flex;
  font-size: 1.8rem; 
  font-weight: 900;
  margin-right: 3%;
}


.views {
  color: lightpink;
}

.views,
.moo {
  margin: 0;
}

.searchBar {
  margin: .7% 3% .85% 0;
  border-radius: 5px;
  width: 30%;
  background-color: black;
}

.searchInput {
  padding-left: 2%;
  outline: none;
  height: 2rem;
  width: 100%;
  border: solid lightpink 2px;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 5px;
}

.searchInput:focus {
  border-color: lightpink;
}

.searchResult {
  width: 30%;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.result {
  margin: 3% 0;
}

.result p {
  padding-left: 2%;
  margin: 0;
}

.date {
  font-size: 0.80rem;
  margin-top: 40px;
  color: darkgrey;
}

.noResults {
  margin-left: 2%;
}