.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(27, 27, 27);
  width: 100%;
  min-width: 870px;
}

.navbar a {
  color: white;
}


.navlink {
  text-decoration: none;
  margin-right: 3%;
  padding: 0.4375rem 0.625rem;
  border-radius: 3px;
}

.navlink:hover {
  background-color: rgb(44, 44, 44);
}

.navMooViews {
  display: flex;
  font-size: 1.8rem; 
  font-weight: 900;
  /* margin-right: 3%; */
  margin: 0 3%;
}


.views {
  color: lightpink;
}

.views,
.moo {
  margin: 0;
}

.searchBar {
  margin: 0.85rem 3% 0.85rem 0;
  width: 30%;
  max-width: 550px;
  min-width: 350px;
  background-color: rgb(27, 27, 27);
}

.inputAndIcon {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: solid white 0.125rem;
}

.inputAndIcon:focus-within {
   border: solid lightpink 0.125rem;
   border-radius: 5px;
}

.searchInput {
  padding-left: 2%;
  outline: none;
  height: 1.8rem;
  width: 92%;
  box-sizing: border-box;
  font-size: 0.9rem;
  border-radius: 3px;
  border: none;
}

.searchIcon {
  width: 8%;
  color: rgb(95, 95, 95);
  font-size: 1.375rem;
  margin-right: 0.1875rem;
}


.outerSearchResult {
  width: 100%;
  position: relative;
  --movie-spacing-left: 0.8rem;
}

.searchResult {
  width: 100%;
  border-radius: 3px;
  background-color: rgb(10, 10, 10);
  margin: 0.4375rem 0;
  position: absolute;
  z-index: 10;
  font-size: 0.9rem;
}

.result {
  display: flex;
  padding: 0.55rem 0;
  border-bottom: solid rgba(255, 255, 255, 0.26) 0.01rem;
}

.result:hover,
.outerAllResults:hover {
  background-color: rgb(29, 29, 29);
  cursor: pointer;
  text-decoration: underline;
}


.SRimage {
  margin-left: var(--movie-spacing-left);
  width: 3rem;
  height: 4.5rem;
}

.SRimageUnavailable {
  margin-left: var(--movie-spacing-left);
  height: 4.5rem;
  background-color: rgb(47, 47, 47);
  display: flex;
  align-items: center;
}

.SRmovieIcon {
  width: 3rem;
  font-size: 1.3rem;
}

.SRinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.result p {
  padding-left: 0.75rem;
  margin: 0;
  max-width: 92%;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.date {
  font-size: 0.75rem;
  color: darkgrey;
}

.noResults {
  margin-left: var(--movie-spacing-left);
}

.outerAllResults {
  padding: 0.9rem 0 0.9rem var(--movie-spacing-left);
}

.allResults {
  margin: 0;
  width: 92%;
}