.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outerPreview {
  /* margin-top: 2.5rem; */
  /******** properties for testing ********/
  /* background-color: white; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  --preview-width: 1210px;
  --preview-movie-width: 183.33px;
  --preview-movie-height: 275px;
}

h2 {
  font-size: 1.6rem;
  border-left: solid var(--text-color-pink) .25rem;
  padding-left: .45rem;
  box-sizing: border-box;
  margin-top: 3.5rem;
  /******** properties for testing ********/
  /* width: 92%; */
}

.innerPreview {
  display: flex;
  justify-content: space-between;
  width: var(--preview-width);
  position: relative;
  /******** properties for testing ********/
  /* box-sizing: border-box; */
  /* width: 92%; */
  /* border: solid yellow 2px; */
  /* background-color: white; */
}

.innerPreview *{
  /******** properties for testing ********/
  /* box-sizing: border-box; */
  /* width: 92%; */
  /* border: solid yellow 1px; */
  /* background-color: white; */
}

.moviePreview {
  background-color: rgb(27, 27, 27);
  color: white;
  max-width: var(--preview-movie-width);
  border-radius: 8px;
  /******** properties for testing ********/
  box-sizing: border-box;
  /* width: 16%; */
  /* border: white solid 2px; */
  position: relative;
}

.previewImage {
  box-sizing: border-box;
  height: var(--preview-movie-height);
  width: var(--preview-movie-width);
  /******** properties for testing ********/
  /* width: 100%; */
  /* height: 285px; */
  /* width: 190px; */
   /* height: 225px; */
  /* width: 190px; */
  /* border:solid white 1px; */
}

.moviePreviewRating,
.moviePreviewTitle {
  width: 90%;
  /******** properties for testing ********/
  /* width: 100%; */
  /* height: 285px; */
  /* width: 190px; */
   /* height: 225px; */
  /* width: 190px; */
  /* box-sizing: border-box;
  border:solid white 1px; */
}

.moviePreviewRating {
  display: flex;
  align-items: center;
  /* max-width: 165px; */
  margin: .75rem auto; 
  /******** properties for testing ********/
  box-sizing: border-box;
  /* border: white 1px solid;  */
}

.starRating {
  margin-right: .35rem;
  color: var(--text-color-lightPink);
}

.moviePreviewTitle {
  display: -webkit-box;
  color: white;
  margin: 0 auto; 
  min-height: 2.5rem; 
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /******** properties for testing ********/
  /* box-sizing: border-box; */
  /* border: white 1px solid;  */
}

.moviePreviewTitle a {
  color: white;  
}

.previewInfoBtn {
  display: flex;
  background-color: transparent;
  border: none;
  margin: .4rem auto 1rem;
  /* padding: 10px; */
  /******** properties for testing ********/
  /* box-sizing: border-box; */
  /* border: white 1px solid; */
  padding: .65rem;
  /* position: absolute;
  bottom: 2px; */
}

.previewInfoBtn:hover {
  display: flex;
  background-color: rgba(128, 128, 128, 0.267);;
  border-radius: 50%;
  cursor: pointer;
}

.infoBtnIcon {
  font-size: 1.75rem;
}

.previous,
.next {
  position: absolute;
  top: 28%;
  height: 4.2rem;
  width: 4.2rem;
  padding: auto;
  background-color: rgba(7, 7, 7, 0.541);
  border: rgba(255, 255, 255, 0.575) 1px solid;
  border-radius: 50%;
  z-index: 1;
}

.previous {
  visibility: hidden;
  left: -1rem;
}

.next {
  right: 0;
  right: -1rem;
}

.previousIcon,
.nextIcon {
  font-size: 2rem;
}

.previous:hover,
.next:hover {
  cursor: pointer;
}

.innerPreview:hover .previous,
.innerPreview:hover .next {
  visibility: visible;
}

.previewInfoBox {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right:0;
  bottom:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewInfoContent {
  background-color: rgb(20, 20, 20);
  border-radius: 15px;
  /* padding: 0 25px; */
  /* padding: 0 1.5625rem; */
  position: relative;
  /* max-height: 625px; */
  /******** Props for testing ********/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-width: 500px;
  max-width: 576px;
}

.backdropLink {
  width: 92%;
}

.backdropImg {
  width: 100%;
}



.previewClose {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  right: 0.5rem;
  top: -2.55rem;
  padding: 0.4375rem;
  /******** Props for testing ********/
  /* height: auto;
  width: 15%; */
  /* font-size: 1rem; */
}

.previewClose:hover {
  background-color: rgba(255, 255, 255, 0.219);
  cursor: pointer;
}

.previewOverview,
.previewInfoTitle,
.allPreviewGeneralInfo {
  width: 92%;
}

.previewOverview {
  font-size: 0.9375rem;
  box-sizing: border-box;
  color: rgb(187, 187, 187);
  max-height: 5.35rem;
  margin-bottom: 1.375rem;
  overflow-y: auto;
  line-height: 1.4;
  padding-right: 0.5rem;
  /******** Props for testing ********/
  /* border: white solid 1px; */
}

.previewOverview::-webkit-scrollbar {
  /* margin-left: 3rem; */
  border-radius: 10px;
  width: 0.5625rem;
  background-color: rgb(102, 102, 102);
}

.previewOverview::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(37, 37, 37);
}

.previewInfoTitle {
  font-weight: 900;
  font-size: 1.4rem;
  margin: 1.25rem 0 0;
  display: -webkit-box; 
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.previewInfoTitle a {
  color: white; 
}

.previewInfoTitle a:hover {
  color: rgb(255, 196, 207); 
}

.allPreviewGeneralInfo {
  color: rgb(126, 126, 126);
  /* margin-top: 5px; */
  margin: 0 0 0.625rem;
  font-size: 0.8125rem;
}

.allPreviewGeneralInfo span {
  margin-right: 0.3125rem;
}

p a:hover {
  text-decoration: underline;
}

.previewImageUnavailable {
  color: black;
  background-color: rgba(255, 255, 255, 0.739);
  width: var(--preview-movie-width);
  height: var(--preview-movie-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.filmIcon {
  font-size: 3.5rem;
}

.preInfoImageUnavailable {
  /* border: white solid 1px; */
  color: black;
  background-color: rgba(255, 255, 255, 0.739);
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MPIfilmIcon {
  font-size: 4.5rem;
}

@media screen and (max-width: 1400px) {
  :root {
    font-size: 15px;
  }
  .outerPreview {
    --preview-width: 1060px;
    --preview-movie-width: 160px;
    --preview-movie-height: 240px;
  }
  .infoBtnIcon {
    font-size: 1.55rem;
  }
}

@media screen and (max-width: 1138px) {
  :root {
    font-size: 14px;
  }
  .outerPreview {
    --preview-width: 920px;
    --preview-movie-width: 140px;
    --preview-movie-height: 210px;
  }
}