.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outerPreview {
  margin-top: 40px;
}

.innerPreview {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  position: relative;
}


.moviePreview {
  min-height: 390px;
  background-color: rgb(27, 27, 27);
  color: white;
  border-radius: 8px;
}

.previewImage {
  height: 275px;
}

.moviePreviewRating {
  display: flex;
  align-items: center;
  max-width: 165px;
  margin: 12px auto 12px;  
}

.starRating {
  margin-right: 5px;
}

.moviePreviewTitle {
  display: -webkit-box;
  color: white;
  max-width: 165px;
  min-height: 40px;
  margin: 0 auto;  
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.moviePreviewTitle a {
  color: white;  
}

.previewInfoBtn {
  display: flex;
  background-color: transparent;
  border: none;
  margin: 10px auto 15px;
}

.infoCircle:hover {
  cursor: pointer;
}

.previous,
.next {
  visibility: hidden;
  position: absolute;
  top: 42%;
  height: 60px;
  width: 60px;
  background-color: rgba(7, 7, 7, 0.541);
  border-radius: 50%;
  border-color: white;
}

.previous:hover,
.next:hover {
  cursor: pointer;
}

.innerPreview:hover .previous,
.innerPreview:hover .next {
  visibility: visible;
}

.next {
  right: 0;
}

.backdropImg {
  width: 500px;
}

.previewInfoBox {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewInfoContent {
  background-color: rgb(20, 20, 20);
  border-radius: 15px;
  padding: 0 25px;
  position: relative;
  max-height: 625px;
}

.previewClose {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: 10px;
  top: -45px;
}

.previewClose:hover {
  background-color: rgba(255, 255, 255, 0.219);
}

.previewOverview {
  box-sizing: border-box;
  color: rgb(187, 187, 187);
  font-size: 16px;
  max-height: 195px;
  max-width: 500px;
  margin-bottom: 30px;
  overflow-y: auto;
  scrollbar-color: pink;
  line-height: 1.4;
  padding-right: 8px;
}

.previewOverview::-webkit-scrollbar {
  margin-left: 8px;
  border-radius: 10px;
  width: 9px;
  background-color: rgb(102, 102, 102);
}

.previewOverview::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(37, 37, 37);
}

.previewInfoTitle {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.allPreviewGeneralInfo {
  color: rgb(126, 126, 126);
  margin-top: 5px;
  font-size: 15px;
}

.previewGeneralInfo {
  margin-right: 5px;
}
